<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HelloWorld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>727F7EE11F69B226009B2F79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>727F7EFA1F69B227009B2F79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>727F7F051F69B227009B2F79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
